@import "./assets/css/reset.css";
@import "./assets/css/grid.css";
* {
    box-sizing: border-box;
}
:root {
    --primary-light-text-color: #2d3033;
    --primary-light-text-color-additional: #6c7279;
    --primary-light-background-color: #ffffff;
    --accent-color: #e84545;

    --primary-dark-text-color:#ffffff;
    --primary-dark-background-color: #3a3e64;
    --primary-dark-background-color-additional: #313454;
    font-family: 'Raleway', sans-serif;

    font-size: 14px;
    font-weight: 400;
}


.hidden-title {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}

#feature {
    padding: 80px 0;
    background-color: #3a3e64;
}

.feature {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    background-color: var(--primary-dark-text-color);
    border-radius: 5px;
}

.feature-margin {
    margin: 20px 0;
}

.feature-icon {
    height: 60px;
    margin-bottom: 20px;
    color: var(--accent-color);

}
.feature-title {
    min-height: 1.1em;
    max-height: 1.1em;
    margin: 10px 0;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--primary-light-text-color);
}


.feature-description {
    --line-count: 3;
    --line-height: 1.6em;
    min-height: calc(var(--line-count) * var(--line-height));
    max-height: calc(var(--line-count) * var(--line-height));
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-count);
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
    line-height: var(--line-height);
    color: var(--primary-light-text-color-additional);

}

